<div class="row-fluid well favorites">
  <h1>Your Favorite Tracks</h1>
  <% if @favorites.present? %>
    <% @favorites.each do |fav| %>
      <div class="span4">
        <div class="artwork">
          <% if fav.artwork %>
            <%= image_tag(fav.artwork) %>
          <% else %>
            <%= image_tag('noimage.png') %>
          <% end %>
        </div>
        <div class="track-info">
          <h6><%= link_to truncate(fav.track, length: 22, separator: ' '), fav.url, :target => "_blank" %></h6>
          <p><%= fav.genre %></p>
          <p>by <%= truncate(fav.uploaded_by, length: 16) %></p>
          <p><%= fav.created %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="span12"><h4>You don't have any favorite tracks.</h4><h4> Add one by clicking "Like" during the game!</h4></div>
  <% end %>
</div>