<h1>Games#level</h1>
<% if @id == 1 %>
<h3>Welcome!!! GAME START NOW!!!! GOOD LUCK!!!</h3>
<% end %>

Points: <%= @points %><br>

<%= @widget.html_safe %>
<br>
<h3><%= @current_track.title %></h3>
<br>
<div class="message"></div>
<ul id="answers">
<li><div class="btn btn-info" id="correct"><%= @current_track_genre %></div></li>
<% @genre_list.each do |genre| %>
  <li><div class="btn btn-info incorrect"><%= genre.kind %></div></li>
<% end %>
</ul>
<br>

<% unless @id == 50 %>
  <%= link_to "Next Level", level_path(@id + 1) %><br>
<% else %>
  Finish! Check how you did compared to other contestants!<br>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

======
<ol>
<% $available_tracks.each do |track| %>
  <li><%= link_to track.title, track.permalink_url %> - <%= track.genre %></li>
<% end %>
</ol>