<div class="well">
  <div class="top-right">
    <%= form_tag("/#{@current_level}/add_fav", class: "add-fav", remote: true) do %>
      <%= button_tag(type: 'submit', class: "btn btn-large btn-fav fav") do %>
        <i class="icon-heart"></i> Like
      <% end %>
    <% end %>

    <div class="btn btn-large btn-points points">
      <%= @game.points %> Points
    </div>
  </div>

  <div class="game-level">
    <h1>Level <%= @current_level %> / <%= @stop_at_level %></h1>
  </div>

  <%= @widget.html_safe %>

  <h3 class="song-title"><%= @current_track.title %></h3>
  <div class="message"></div>
  <div class="fav-message"></div>
  <h3 class="question center">What is the Genre of This Song?</h3>
  <ul id="answers">
    <li>
      <%= form_tag("/#{@current_level}/add_points", class: "submit-answer") do %>
        <%= button_tag(type: 'submit', class: 'btn btn-info correct') do %>
          <%= @current_track_genre %>
        <% end %>
      <% end %>
    </li>
    <% @genre_list.each do |genre| %>
      <li>
        <%= form_tag("/#{@current_level}/progress", class: "submit-answer") do %>
          <%= button_tag(type: 'submit', class: 'btn btn-info incorrect') do %>
            <%= genre.kind %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>