<div class="well">
  <div class="btn btn-large points">
    <%= $points %> Points
  </div>
  <div class="title">
    <h1>Level <%= @current_level %> / <%= @stop_at_level %></h1>
  </div>

  <%= @widget.html_safe %>
  <br>
  <h3><%= @current_track.title %></h3>
  <br>
  <div class="message"></div>
  <h3 class="question center">What is the Genre of This Song?</h3>
  <ul id="answers">
    <li>
      <%= form_tag('/add_points', method: 'post') do %>
        <%= submit_tag @current_track_genre, class: 'btn btn-info correct' %>
      <% end %>
    </li>
    <% @genre_list.each do |genre| %>
      <li>
        <%= form_tag('/progress', method: 'post') do %>
          <%= submit_tag genre.kind, class: 'btn btn-info incorrect' %>
        <% end %>
      </li>
    <% end %>
  </ul>

<form action="/<%= @current_level %>/add_fav" method="post">
  <button class="btn btn-warning">Add to Favorites</button>
</form>
</div>