<div class="well">
  <div class="top-right">
    <%= form_tag("/#{@current_level}/add_fav", method: "post") do %>
      <%= button_tag(type: 'submit', class: "btn btn-large btn-fav fav") do %>
        <i class="icon-heart"></i> Like
      <% end %>
    <% end %>

    <div class="btn btn-large btn-points points">
      <%= $points %> Points
    </div>
  </div>

  <div class="title">
    <h1>Level <%= @current_level %> / <%= @stop_at_level %></h1>
  </div>

  <%= @widget.html_safe %>
  <br>
  <h3><%= @current_track.title %></h3>
  <br>
  <div class="message"></div>
  <h3 class="question center">What is the Genre of This Song?</h3>
  <ul id="answers">
    <li>
      <%= form_tag("/#{@current_level}/add_points", method: "post") do %>
        <%= submit_tag @current_track_genre, class: 'btn btn-info correct' %>
      <% end %>
    </li>
    <% @genre_list.each do |genre| %>
      <li>
        <%= form_tag("/#{@current_level}/progress", method: "post") do %>
          <%= submit_tag genre.kind, class: 'btn btn-info incorrect' %>
        <% end %>
      </li>
    <% end %>
  </ul>

<% $available_tracks.each do |track| %>
  <li><%= track.title %> - <%= image_tag(track.artwork_url) %></li>
<% end %>
</div>
