<h1>Games#level</h1>

Points: <%= @points %><br>

<%= @track.title %><br>
<br>
<ul id="answers">
<li><button><%= @track_genre %></button></li>
<% @genre_list.each do |genre| %>
  <li><button><%= genre.kind %></button></li>
<% end %>
</ul>
<br>

<% unless @id == 50 %>
  <%= link_to "Next Level", level_path(@id + 1) %><br>
<% else %>
  Finish! Check how you did compared to other contestants!<br>
<% end %>
======
<ol>
<% $tracks_with_genre.each do |track| %>
  <li><%= link_to track.title, track.permalink_url %> - <%= track.genre %> - <%= track.favoritings_count %></li>
<% end %>
</ol>