<h1>Games#level</h1>
<h3>Welcome!!! GAME START NOW!!!! GOOD LUCK!!!</h3>

Starting Point: 10<br>
<%= @widget.html_safe %>
<br>

<%= @track.title %><br>
<br>
<ul id="answers">
<li><button><%= @track_genre %></button></li>
<% @genre_list.each do |genre| %>
  <li><button><%= genre.kind %></button></li>
<% end %>
</ul>
<br>

<%= link_to "Next Level", level_path(2) %><br>
======
<ol>
<% $tracks_with_genre.each do |track| %>
  <li><%= link_to track.title, track.permalink_url %> - <%= track.genre %></li>
<% end %>
</ol>