<h1>Games#level</h1>
<h3>Welcome!!! GAME START NOW!!!! GOOD LUCK!!!</h3>

Starting Point: 0<br>

<%= @track.title %><br>

<button><%= @track_genre %></button><br>
<% @genre_list.each do |genre| %>
  <button><%= genre.kind %></button>
<% end %>
<br>

<%= link_to "Next Level", level_path(2) %><br>
======
<ol>
<% $tracks_with_genre.each do |track| %>
  <li><%= link_to track.title, track.permalink_url %> - <%= track.genre %> - <%= track.favoritings_count %></li>
<% end %>
</ol>