<%= render 'layouts/header' %>
<div class="row-fluid">
  <div class="span8 offset2">
    <%= render 'layouts/nav' %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>